<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.input :first_name, required: true, label: "First Name" %>
  <%= f.input :last_name, required: true, label: "Last Name" %>
  <%= f.input :username, required: true, label: "username" %> 
  <label>Upload a photo</label> 
  <%= f.input :image, as: :file, label: false %> 
  <% if @user.image.present? %>
  <%= image_tag @user.image_url(:thumb), class: 'rounded-circle' %>
  <% else %>
  <%= image_tag 'no_image.png', class: 'rounded-circle' %>
  <% end %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>
  <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
  <%= f.input :password_confirmation, required: false %>
  <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
</div>
<div class="form-actions">
  <%= f.button :submit, "Update", class: "btn btn-outline-success" %>
</div>
<% end %>
<br>
<%= link_to "Back", :back, class: "btn btn-outline-info" %> 
<br><br><br>