<!-- Services Section -->
<section class="page-section services" id="process">
  <div class="container">
    <div class="text-center wow fadeIn">
      <h2 id='main_process_title_show' ><%= @template_one.main_process_title %></h2>
      <hr class="colored">
      <p id='main_process_title_text_show' class="mb-0"><%= @template_one.main_process_title_text %></p>
    </div>
    <div class="row mt-4">
      <!-- Service Item 1 -->
      <div class="col-lg-4 wow fadeIn" data-wow-delay=".2s">
        <div class="media">
          <div class="pull-left">
            <i id='process_icon_1_show' class="fa fa-<%= @template_one.process_icon_1 %> rounded-circle"></i>
          </div>
          <div class="media-body">
            <h3 id='sub_title_1_show' class="media-heading"><%= @template_one.sub_title_1 %></h3>
            <ul>
              <li id='process_li_1_show'><%= @template_one.process_li_1 %></li>
              <li id='process_li_2_show'><%= @template_one.process_li_2 %></li>
              <li id='process_li_3_show'><%= @template_one.process_li_3 %></li>
              <li id='process_li_4_show'><%= @template_one.process_li_4 %></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Service Item 2 -->
      <div class="col-lg-4 wow fadeIn" data-wow-delay=".4s">
        <div class="media">
          <div class="pull-left">
            <i id='process_icon_2_show' class="fa fa-<%= @template_one.process_icon_2 %> rounded-circle"></i>
          </div>
          <div class="media-body">
            <h3 id='sub_title_2_show' class="media-heading"><%= @template_one.sub_title_2 %></h3>
            <ul>
              <li id='process_li_5_show'><%= @template_one.process_li_5 %></li>
              <li id='process_li_6_show'><%= @template_one.process_li_6 %></li>
              <li id='process_li_7_show'><%= @template_one.process_li_7 %></li>
              <li id='process_li_8_show'><%= @template_one.process_li_8 %></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Service Item 3 -->
      <div class="col-lg-4 wow fadeIn" data-wow-delay=".6s">
        <div class="media">
          <div class="pull-left">
            <i id='process_icon_3_show' class="fa fa-<%= @template_one.process_icon_3 %> rounded-circle"></i>
          </div>
          <div class="media-body">
            <h3 id='sub_title_3_show' class="media-heading"><%= @template_one.sub_title_3 %></h3>
            <ul>
              <li id='process_li_9_show'><%= @template_one.process_li_9 %></li>
              <li id='process_li_10_show'><%= @template_one.process_li_10 %></li>
              <li id='process_li_11_show'><%= @template_one.process_li_11 %></li>
              <li id='process_li_12_show'><%= @template_one.process_li_12 %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>