<!-- Services Section -->
<section class="page-section bg-light" id="services">
  <div class="container-fluid">
    <div class="wow fadeIn text-center">
      <h1 id='service_title_1_show'><%= @template_one.service_title_1 %></h1>
      <p class="mb-0" id='service_text_1_show'><%= @template_one.service_text_1 %></p>
    </div>
    <hr class="colored">
    <div class="row text-center">
      <div class="col-lg-3 col-md-6">
        <div class="wow fadeIn px-4 pb-4 pb-lg-0 h-100" data-wow-delay=".2s">
          <i id='service_icon_1_show' class="fa fa-<%= @template_one.service_icon_1 %> fa-4x"></i>
          <h3 id='service_title_2_show'>
            <%= @template_one.service_title_2 %> 
          </h3>
          <p class="mb-0" id='service_text_2_show'>
            <%= @template_one.service_text_2 %>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="wow fadeIn px-4 pb-4 pb-lg-0 h-100" data-wow-delay=".4s">
          <i id='service_icon_2_show' class="fa fa-<%= @template_one.service_icon_2 %> fa-4x"></i>
          <h3 id='service_title_3_show'><%= @template_one.service_title_3 %></h3>
          <p class="mb-0" id='service_text_3_show'><%= @template_one.service_text_3 %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="wow fadeIn px-4 pb-4 pb-lg-0 h-100" data-wow-delay=".6s">
          <i id='service_icon_3_show' class="fa fa-<%= @template_one.service_icon_3 %> fa-4x"></i>
          <h3 id='service_title_4_show'><%= @template_one.service_title_4 %></h3>
          <p class="mb-0" id='service_text_4_show'><%= @template_one.service_text_4 %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="wow fadeIn px-4 h-100" data-wow-delay=".8s">
          <i id='service_icon_4_show' class="fa fa-<%= @template_one.service_icon_4 %> fa-4x"></i>
          <h3 id='service_title_5_show'><%= @template_one.service_title_5 %></h3>
          <p class="mb-0" id='service_text_5_show'><%= @template_one.service_text_5 %></p>
        </div>
      </div>
    </div>
  </div>
</section>