<%= simple_form_for(@app_setting) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :tab_name %>
    <%= f.input :theme_name, collection: AppSetting::APP_THEME, include_blank: false %> 
    <%= f.input :navbar_color, collection: AppSetting::NAVBAR_COLOR, include_blank: false %>
    <%= f.input :front_end_color, collection: AppSetting::FRONT_END_COLOR, include_blank: false %>
    <%= f.input :app_title %>
    <%= f.input :app_email_title_1 %>
    <%= f.input :app_email_1 %> 
    <%= f.input :app_email_title_2 %> 
    <%= f.input :app_email_2 %>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
