<%= simple_form_for([@template_one, @page]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hide %>
    <%= f.input :show_as_solo_link %>
    <%= f.input :show_in_dropdown %> 
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.input :string_1 %>
    <%= f.input :string_2 %>
    <%= f.input :string_3 %>
    <%= f.input :string_4 %>
    <%= f.input :string_5 %>
    <%= f.input :string_6 %>
    <%= f.input :string_7 %>
    <%= f.input :string_8 %>
    <%= f.input :string_9 %>
    <%= f.input :string_10 %>
    <%= f.input :string_11 %>
    <%= f.input :string_12 %>
    <%= f.input :string_13 %>
    <%= f.input :string_14 %>
    <%= f.input :string_15 %>
    <%= f.input :template_one_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
