<%= render 'template_ones/partials/navigation_1' %>
<div class="">
  <div class="">
    <div class="">
      <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3"><%= @page.title %></h1>
            <p><%= @page.string_1 %></p>
          </div>
        </div>
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h3><%= @page.string_2 %></h3>
              <p><%= @page.string_3 %></p>
            </div>
            <div class="col-md-4">
              <h3><%= @page.string_4 %></h3>
              <p><%= @page.string_5 %> </p>
            </div>
            <div class="col-md-4">
              <h3><%= @page.string_6 %></h3>
              <p><%= @page.string_7 %></p>
            </div>
          </div>
          <hr>
        </div>
        <!-- /container -->
      </main>
    </div>
  </div>
</div>
<div class="scroll-down">
</div>
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_template_one_page_path(@template_one, @page) %> |
<%= link_to 'Back', template_one_pages_path %> 
<% end %>
<%= render 'template_ones/partials/contact_1' %>
<%= render 'template_ones/partials/footer_1' %> 
<%= render 'template_ones/partials/static_assets/static_assets' %>