<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @page.url %>
</p>

<p>
  <strong>String 1:</strong>
  <%= @page.string_1 %>
</p>

<p>
  <strong>String 2:</strong>
  <%= @page.string_2 %>
</p>

<p>
  <strong>String 3:</strong>
  <%= @page.string_3 %>
</p>

<p>
  <strong>String 4:</strong>
  <%= @page.string_4 %>
</p>

<p>
  <strong>String 5:</strong>
  <%= @page.string_5 %>
</p>

<p>
  <strong>String 6:</strong>
  <%= @page.string_6 %>
</p>

<p>
  <strong>String 7:</strong>
  <%= @page.string_7 %>
</p>

<p>
  <strong>String 8:</strong>
  <%= @page.string_8 %>
</p>

<p>
  <strong>String 9:</strong>
  <%= @page.string_9 %>
</p>

<p>
  <strong>String 10:</strong>
  <%= @page.string_10 %>
</p>

<p>
  <strong>String 11:</strong>
  <%= @page.string_11 %>
</p>

<p>
  <strong>String 12:</strong>
  <%= @page.string_12 %>
</p>

<p>
  <strong>String 13:</strong>
  <%= @page.string_13 %>
</p>

<p>
  <strong>String 14:</strong>
  <%= @page.string_14 %>
</p>

<p>
  <strong>String 15:</strong>
  <%= @page.string_15 %>
</p>

<p>
  <strong>Template one:</strong>
  <%= @page.template_one_id %>
</p>

<%= link_to 'Edit', edit_template_one_page_path(@template_one, @page) %> |
<%= link_to 'Back', template_one_pages_path %> 
<br><br><br><br>