<% if @template_one.testimonial_hide == false %>
<!-- Testomonials Section -->
<section class="page-section testimonials bg-light">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="testimonials-carousel">
          <!-- Testimonial Item 1 -->
          <% @posts.each do |post| %>
          <div class="item mb-4">
            <p class="lead"><%= post.title %></p>
            <hr class="colored">
            <p><%= post.body.truncate(150).html_safe %></p> 
            <% if post.user.image.present? %>  
            <div class="testimonial-img">
              <img class="rounded-circle img-fluid" src="<%= asset_url post.user.image_url(:thumb) if post.user.image.present? %>" alt="">
            </div>
            <% else %>
            <div class="testimonial-img">
              <img class="rounded-circle img-fluid" src="<%= asset_url 'no_image.png', class: 'rounded-circle' %>" alt="">
            </div>
            <% end %>
            <div class="testimonial-author">
              <span class="name"><%= post.user.username %></span>
              <p class="small">posted <%= time_ago_in_words(post.created_at) %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
<%= link_to "Edit Latest Post Content", edit_testimonial_path, class: "btn btn-outline-info btn-sm pull-right" if current_user.try(:admin?) %> 