
<h1>Posts</h1>

<table class="table table-striped table-hover table-bordered"> 
  <thead>
    <tr>
      <th>Title</th>
      <th>Created At</th>
      <th>Body</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>about <%= time_ago_in_words(post.created_at) %> ago</td>
        <td><%= post.body %></td>
        <td><%= post.user.username %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.user == current_user %> 
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<div class="row">
  <div class="col-sm-3">
    <h4>Import Posts</h4>
    <%= form_tag import_posts_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn btn-success btn-xs" %><br>
    <%= submit_tag "Upload Posts", class: "btn btn-info btn-xs" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h4>Export Posts</h4>
    <%= link_to "Download Posts", posts_path(format: :csv), 
      class: "btn btn-primary btn-xs round" %> 
  </div>
</div>


  

<div class="row">
  <div class="col-sm-3">
    <h4>Import Comments</h4>
    <%= form_tag import_comments_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn btn-success btn-xs" %><br>
    <%= submit_tag "Upload Comments", class: "btn btn-info btn-xs" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h4>Export Comments</h4>
    <%= link_to "Download Comments", comments_path(format: :csv), 
      class: "btn btn-primary btn-xs round" %> 
  </div>
</div>